---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Error Not Found">
	<main class="bg-gray-100 h-screen flex flex-col justify-center items-center">
        <div class="max-w-sm w-full text-center">
            <h1 class="text-6xl font-bold text-gray-800">404</h1>
            <p class="text-2xl text-gray-600 mb-4">Oops! Page not found.</p>
            <p class="text-lg text-gray-500 mb-8">The page you are looking for might have been removed or its name changed or
                is temporarily unavailable.</p>
            <a href="/" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-md transition-colors duration-300">Go
                Home</a>
        </div>
    </main>
</Layout>

