---
import Layout from '../layouts/Layout.astro';
import ContactDigi from '~/components/ContactDigi.astro';
const title="Authorized UNV Camera Supplier & Distributor in Dubai, Sharjah & UAE"
const description= "Digital Link Technology: Your trusted supplier and distributor of UNV cameras across Dubai, Sharjah, and the UAE. Discover our range of products today!"
---

<Layout title={title}, description= {description}>
	<main>
    <ContactDigi/>	
	</main>
</Layout>