---
import Layout from '../layouts/Layout.astro';
import ContactDigi from '~/components/ContactDigi.astro';

const title="Digital Link Technology is the Authorized Supplier and Distributor of UNV cameras in Dubai,Sharjah and across U.A.E"
---

<Layout title={title}>
	<main>
    <ContactDigi/>	
	</main>
</Layout>