---
import "~/assets/styles/tailwind.css";
import { SEO } from "astro-seo";
import FooterSection from "~/components/FooterSection.astro";
import { headerData } from "~/navigation";
import Header from "~/components/widgets/Header.astro";
import GoogleAnalytics from "~/components/GoogleAnalytics.astro";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title,description,keywords } = Astro.props;
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <GoogleAnalytics />
    <SEO
      title={title ?? "Best UNV Distributor in Dubai, UAE | Digital Link Technology"}
      description="unv distributor,Hikvision dealer,Dahua distributor"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: "UNV Authorized distributor in U.A.E",
          type: "A type.",
          image:
            "https://unvdubai.com/digi.png",
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@@DigitalLink_ca",
        site: "@DigitalLink_ca",
        title: title ?? "Best UNV Distributor in Dubai, UAE | Digital Link Technology",
        image: "https://unvdubai.com/digi.png",
        imageAlt: "Digital Link Technology U.A.E",
        description:
          description ?? "Digital Link Technology is an authorized distributor of UNV products in Dubai, UAE.",
      }}
      extend={{
        
        // link: [{ rel: "icon", href: "/favicon.svg" }],
       
        meta: [
          {
            name: "keywords",
            content:
              "UNV distributor, Dubai, UAE, surveillance, security" + keywords,
          },
          { name: "robots", content: "index, follow" },
          { name: "language", content: "English" },
          { name: "Author", content: "Digiimpact" },
          {
            name: "organization",
            content: JSON.stringify({
              "@context": "http://schema.org",
              "@type": "Organization",
              name: "Digital Link Technology Dubai",
              url: "https://unvdubai.com/",
              logo: "https://dubai-hikvision.com/logo.jpg",
              description:
                "Digital Link Technology is your premier destination for UNV products in Dubai, UAE.",
              address: {
                "@type": "PostalAddress",
                streetAddress: "Market, Naif, Deira",
                addressLocality: "Dubai",
                addressRegion: "Dubai",
                postalCode: "123241",
                addressCountry: "AE",
              },
              contactPoint: {
                "@type": "ContactPoint",
                telephone: "+971 4 224 1977",
                contactType: "Sales",
              },
            }),
          },
          
        ],
      }}
    />
  </head>
  <body class = " dark:bg-neutral-800">
    <Header {...headerData} isSticky isFullWidth showToggleTheme />
    <!-- <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8"> -->
      <div class="mx-auto px-0 sm:px-0 lg:px-0">
      <main>
        <slot />
      </main>
    </div>
    <FooterSection />
  </body>
</html>
